@model IEnumerable<ProjetoTI2_servidor.Models.Planetas>

@{
    ViewBag.Title = "Index";
}

<h2>Planetas</h2>

<p>
    @if (User.IsInRole("Professor"))
    {
        @Html.ActionLink("Criar Novo Planeta", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Fotografia)*@
                <a href="~/imagens/@item.Fotografia" target="_blank">
                    <img src="~/imagens/@item.Fotografia" width="50" height="37" />
                </a>
            </td>
            <td>
                @Html.ActionLink(Html.DisplayFor(x => item.Nome).ToHtmlString(), "Details", new { id = item.ID })
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Voltar a trás", "Index","Sistemas")
</div>
