@model IEnumerable<ProjetoTI2_servidor.Models.Planetas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo Planeta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sistema.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome) @* model => model.Nome ----> expressão Labda*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sistema.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Fotografia)*@
                <a href="~/imagens/@item.Fotografia" target="_blank">
                    <img src="~/imagens/@item.Fotografia" width="50" height="37" />
                </a>
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
