@model IEnumerable<ProjetoTI2_servidor.Models.Planetas>

@{
    ViewBag.Title = "Index";
}

<h2>Planetas</h2>

<p>
    @if (User.IsInRole("Professor"))
    {
        @Html.ActionLink("Criar Novo Planeta", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink(Html.DisplayFor(x => item.Nome).ToHtmlString(), "Details", new { id = item.ID })
        </td>
        <td>
            @if (User.Identity.Name.Equals(item.Sistema.Utilizador.Nome))
            {

                @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
    }

</table>

<div>
    @Html.ActionLink("Voltar a trás", "Index","Sistemas")
</div>
