@model ProjetoTI2_servidor.Models.Perguntas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Perguntas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pergunta)
        </dt>
        @foreach (var item in Model.ListaDeRespostas)
        {
            <dt>
                @if (item.PerguntasFK == Model.ID) {
                    @Html.DisplayNameFor(modelItem => item.Resposta)
                }
            </dt>
        }
        <dd>
            @Html.DisplayFor(model => model.Pergunta)
        </dd>
        @foreach (var item in Model.ListaDeRespostas)
        {
        <dt>
            @if (item.PerguntasFK == Model.ID)
            {
                @Html.DisplayFor(modelItem => item.Resposta)
            }
            </dt>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
