@model IEnumerable<ProjetoTI2_servidor.Models.Perguntas>

@{
    ViewBag.Title = "Index";
}

<h2>Perguntas</h2>

<p>
    @if (User.IsInRole("Professor"))
    {
        @Html.ActionLink("Criar Nova Pergunta", "Create")
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pergunta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pergunta)
        </td>
        <td>
            @if (User.Identity.Name.Equals(item.Utilizador.Username))
            {

                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) 
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) 
                @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
    }

</table>
